# Data directory
/data/

# Python cache files
__pycache__/

# Generated figures / scripts
/old_code/

# VSCode
.vscode/

# LaTeX output
Arctic-project-report/.output/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg